{% extends 'layout.html' %}
{% block title %}Add Stock{% endblock %}
{% block style %}
<style>
    #addCategory {
        display: none;
    }
</style>

{% endblock %}

{% block content %}
<div id='addSTock'>
    <p> Add new stock item</p>
    <form id='stock_info' method='post'>
        <div class="mb-3">
            <label for='category_select'>Category</label>
            <select class="form-select" name="category" id="category" aria-label='category'
                onchange='toggleNewCategory()' required>
                <option value="" disabled selected>Select stock category</option>
                {% for key in categories_dict %}
                <option value='{{key}}'>{{categories_dict[key]}}</option>
                {% endfor %}
                <option value='newCategory'>Add new categories</option>
            </select>
        </div>

        <div id='addCategory'>
            <form id='new_cat' method='post'>
                <div class="mb-3">
                    <label for='category_name'>New Category Name</label>
                    <input type='text' name='category_name' required>
                </div>
                <div class="mb-3">
                    <label for='description'>Description</label>
                    <input type='text' name='description' required>
                </div>
                <button type='submit' name='cat_submit' class="btn btn-outline-primary">Add new category</button>
            </form>
        </div>

        <div id='addStock'>
            <div class="mb-3">
                <label for='stock_name'>Stock name</label>
                <input type='text' name='stock_name' placeholder='Enter stock name here' required>
            </div>
            <div class="mb-3">
                <label for='note'>Note</label>
                <input type='text' name='note' id="note" placeholder='Additional notes for the stock item'>
            </div>
            <div class="mb-3">
                <label for='quantity'>Quantity</label>
                <input type='number' name='quantity' id='quantity' placeholder='Quantity'>
            </div>
            <div class="mb-3">
                <p>Location</p>
                <label for='house'>House</label>
                <select class="form-select" name='hosue' id='house' aria-label='house'>
                    <option></option>
                </select>
                <label for='room'>
                    Room
                </label>
                <select class="form-select" name="room" id="room"></select>
                <label for='furniture'>Furniture</label>
                <select class="form-select" name='furniture' id='furniture'></select>
                <label for="container">Container</label>
                <select class="form-select" name='container' id='container'></select>
            </div>
            <button type="submit" name='stock_submit' class="btn btn-outline-primary">Add stock</button>
        </div>
    </form>
</div>


<p>{{message}}</p>
</div>
<div>
    <p>Back to <a href='/dashboard'>dashboard</a></p>
</div>

<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
<script>

    function toggleNewCategory() {
        var categorySelect = document.getElementById("category");
        var addCategory = document.getElementById("addCategory");

        if (categorySelect.value === "newCategory") {
            addStock.style.display = "none";
            addCategory.style.display = "block";
        } else {
            addStock.style.display = "block";
            addCategory.style.display = "none";
        }
    }

    "use strict";

    var systems = {{ menu| tojson }};

    var form = $('form');
    var house = $('select#house');
    var room = $('select#room');
    var furniture = $('select#furniture');
    var container = $('select#container');

    for (var key in systems) {
        house.append($('<option/>', { 'value': key, 'text': key }));
    }

    house.change(function (ev) {
        room.empty();
        room.append($('<option/>'));

        var rooms = systems[house.val()];

        for (var key in rooms) {
            room.append($('<option/>', { 'value': key, 'text': key }));
        }
    }
    );

    room.change(function (ev) {
        furniture.empty();
        furniture.append($('<option/>'));

        var furnitures = systems[house.val()][room.val()];

        for (var key in furnitures) {
            furniture.append($('<option/>', { 'value': key, 'text': key }))
        }
    });

    furniture.change(function (ev) {
        container.empty();
        container.append($('<option/>'));

        var containers = systems[house.val()][room.val()][furniture.val()];

        for (var key in containers) {
            name = containers[key]
            container.append($('<option/>', { 'value': key, 'text': name }))
        }
    })

</script>

{% endblock %}