{% extends 'layout.html' %}
{% block title %}Add Stock{% endblock %}

{% block content %}
<div id='addExistingStock'>
    <p> Add existing stock item</p>
    <table class='table'>
        <tr>
            <th scope="row">Stock id</th>
            <td>{{stock_info[0]["stock_id"]}}</td>
        </tr>
        <tr>
            <th scope="row">Stock name</th>
            <td>{{stock_info[0]["stock_name"]}}</td>
        </tr>
        <tr>
            <th scope="row">Category</th>
            <td>{{stock_info[0]["category"]}}</td>
        </tr>
        <tr>
            <th scope="row">Note</th>
            <td>{{stock_info[0]["note"]}}</td>
        </tr>
    </table>
    <form id='stock_location' method='post'>
        <div class="mb-3">
            <label for='quantity'>Quantity</label>
            <input type='number' name='quantity' id='quantity' placeholder='Quantity'>
        </div>
        <div class="mb-3">
            <p>Location</p>
            <label for='house'>House</label>
            <select class="form-select" name='hosue' id='house' aria-label='house'>
                <option></option>
            </select>
            <label for='room'>
                Room
            </label>
            <select class="form-select" name="room" id="room"></select>
            <label for='furniture'>Furniture</label>
            <select class="form-select" name='furniture' id='furniture'></select>
            <label for="container">Container</label>
            <select class="form-select" name='container' id='container'></select>
        </div>
        <button type="submit" name='stock_submit' class="btn btn-outline-primary">Add stock</button>
    </form>
</div>


<p>{{message}}</p>
</div>
<div>
    <p>Back to <a href='/dashboard'>dashboard</a></p>
</div>

<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
<script>
    "use strict";

    var systems = {{ menu| tojson }};

    var form = $('form');
    var house = $('select#house');
    var room = $('select#room');
    var furniture = $('select#furniture');
    var container = $('select#container');

    for (var key in systems) {
        house.append($('<option/>', { 'value': key, 'text': key }));
    }

    house.change(function (ev) {
        room.empty();
        room.append($('<option/>'));

        var rooms = systems[house.val()];

        for (var key in rooms) {
            room.append($('<option/>', { 'value': key, 'text': key }));
        }
    }
    );

    room.change(function (ev) {
        furniture.empty();
        furniture.append($('<option/>'));

        var furnitures = systems[house.val()][room.val()];

        for (var key in furnitures) {
            furniture.append($('<option/>', { 'value': key, 'text': key }))
        }
    });

    furniture.change(function (ev) {
        container.empty();
        container.append($('<option/>'));

        var containers = systems[house.val()][room.val()][furniture.val()];

        for (var key in containers) {
            name = containers[key]
            container.append($('<option/>', { 'value': key, 'text': name }))
        }
    })

</script>

{% endblock %}