{% extends 'layout.html' %}
{% block title %}Add Stock{% endblock %}
{% block style %}
<style>
    #addCategory {
        display: none;
    }
</style>

{% endblock %}

{% block body%}
<div id='addSTock'>
    <p> Add new stock item</p>
    <form id='stock_info' method='post'>
        <label for='stock_name'>Stock name</label>
        <input type='text' name='stock_name' placeholder='Enter stock name here' required>
        <br>
        <label for='note'>Note</label>
        <input type='text' name='note' id="note" placeholder='Additional notes for the stock item'>
        <br>
        <label for='category_select'>Category</label>
        <br>
        <select name="category" id="category" aria-label='category' onchange='toggleNewCategory()' required>
            <option value="" disabled selected>Select stock category</option>
            {% for key in categories_dict %}
            <option value='{{key}}'>{{categories_dict[key]}}</option>
            {% endfor %}
            <option value='newCategory'>Add new categories</option>
        </select>
        <br>
        <label for='quantity'>Quantity</label>
        <input type='number' name='quantity' id='quantity' placeholder='Quantity'>
        <p>Location</p>
        <label for='house'>House</label>
        <select name='hosue' id='house' aria-label='house'>
            <option></option>
        </select>
        <label for='room'>
            Room
        </label>
        <select name="room" id="room"></select>
        <label for='furniture'>Furniture</label>
        <select name='furniture' id='furniture'></select>
        <label for="container">Container</label>
        <select name='container' id='container'></select>
        <br>
        <button type="submit" name='stock_submit'>Add stock</button>
    </form>
</div>

<div id='addCategory'>
    <p>Add new stock category</p>
    <form id='new_cat' method='post'>
        <label for='category_name'>New Category Name</label>
        <input type='text' name='category_name' required>
        <br>
        <label for='description'>Description</label>
        <input type='text' name='description' required>
        <br>
        <button type='submit' name='cat_submit'>Add new category</button>
    </form>
</div>

<p>{{message}}</p>
</div>
<div>
    <p>Back to <a href='/dashboard'>dashboard</a></p>
</div>

<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
<script>

    function toggleNewCategory() {
        var categorySelect = document.getElementById("category");
        var addCategory = document.getElementById("addCategory");

        if (categorySelect.value === "newCategory") {
            addCategory.style.display = "block";
        } else {
            addCategory.style.display = "none";
        }
    }

    "use strict";

    var systems = {{ menu| tojson }};

    var form = $('form');
    var house = $('select#house');
    var room = $('select#room');
    var furniture = $('select#furniture');
    var container = $('select#container');

    for (var key in systems) {
        house.append($('<option/>', { 'value': key, 'text': key }));
    }

    house.change(function (ev) {
        room.empty();
        room.append($('<option/>'));

        var rooms = systems[house.val()];

        for (var key in rooms) {
            room.append($('<option/>', { 'value': key, 'text': key }));
        }
    }
    );

    room.change(function (ev) {
        furniture.empty();
        furniture.append($('<option/>'));

        var furnitures = systems[house.val()][room.val()];

        for (var key in furnitures) {
            furniture.append($('<option/>', { 'value': key, 'text': key }))
        }
    });

    furniture.change(function (ev) {
        container.empty();
        container.append($('<option/>'));

        var containers = systems[house.val()][room.val()][furniture.val()];

        for (var key in containers) {
            name = containers[key]
            container.append($('<option/>', { 'value': key, 'text': name }))
        }
    })

</script>

{% endblock %}