{% extends 'layout.html' %}
{% block title %}Add container{% endblock %}

{% block body%}
<h2>Add a new container</h2>

<div>
<form method='post'>
    <label for='house'>Select the house where you want to add a new container</label>
    <br>
    <select id="house" name='house'>
        <option></option>
    </select>
    <br>
    <label for='room'>Select the room where you want to add a new container</label>
    <br>
    <select id="room" name='room'></select>
    <br>
    <label for='furniture'>Select the furniture where you want to put the new container</label>
    <br>
    <select id="furniture" name='furniture'></select>
    <br>
    <label for='container'>Please enter the name of the container you wish to add</label>
    <br>
    <input id='container' type='text' name='container'>
    <button type="submit">Add container</button>
</form>
<p>{{message}}</p>
</div>

<div>
    <p>Back to <a href='/storage_plan'>storage plan</a></p>
</div>

<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
<script>
    "use strict";

    var systems = {{ menu|tojson }};

    var form = $('form');
    var house = $('select#house');
    var room = $('select#room');
    var furniture=$('select#furniture');

    for (var key in systems) {
        house.append($('<option/>', {'value': key, 'text': key}));
    }

    house.change(function(ev) {
        room.empty();
        room.append($('<option/>'));

        var rooms = systems[house.val()];

        for (var key in rooms) {
            room.append($('<option/>', {'value': key, 'text': key}));
        }
    }
    );

    room.change(function(ev){
        furniture.empty();
        furniture.append($('<option/>'));

        var furnitures=systems[house.val()][room.val()];

        for (var i in furnitures){
            furniture.append($('<option/>',{'value':furnitures[i], 'text': furnitures[i]}))
        }
    });

</script>


{% endblock %} 