{% extends 'layout.html' %}
{% block title %}Stock Info{% endblock %}
{% block style %}
<style>
    table {
        counter-reset: row-counter;
    }

    .counter-cell::before {
        counter-increment: row-counter;
        content: counter(row-counter);
    }

    ul li {
        list-style-type: none;
    }

    li {
        margin: 5px;
    }
</style>
{% endblock %}
{% block content %}
{% if edit_mode %}
<form method="POST" action="/update_stock_info/{{ stock_info[0]['stock_id'] }}">
    <table class='table'>
        <tr>
            <th scope="row">Stock id</th>
            <td>{{stock_info[0]["stock_id"]}}</td>
        </tr>
        <tr>
            <th scope="row">Stock name</th>
            <td><input type='text' name='new_stock_name' value='{{stock_info[0]["stock_name"]}}'></td>
        </tr>
        <tr>
            <th scope="row">Category</th>
            <td>
                <select name='new_category'>
                    <option value='{{stock_info[0]["category_id"]}}' selected>{{stock_info[0]["category"]}}</option>
                    {% for key in categories_dict %}
                    <option value='{{categories_dict[key]}}'>{{key}}
                    </option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <th scope="row">Note</th>
            <td><input type='text' name='new_note' value='{{stock_info[0]["note"]}}'></td>
        </tr>
    </table>
    <input type="submit" />
</form>
{% else %}
<table class='table'>
    <tr>
        <th scope="row">Stock id</th>
        <td>{{stock_info[0]["stock_id"]}}</td>
    </tr>
    <tr>
        <th scope="row">Stock name</th>
        <td>{{stock_info[0]["stock_name"]}}</td>
    </tr>
    <tr>
        <th scope="row">Category</th>
        <td>{{stock_info[0]["category"]}}</td>
    </tr>
    <tr>
        <th scope="row">Note</th>
        <td>{{stock_info[0]["note"]}}</td>
    </tr>
</table>

<h3>Stock distribution</h3>
<table class='table'>
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Container</th>
            <th scope="col">Furniture</th>
            <th scope="col">Room</th>
            <th scope="col">House</th>
            <th scope="col">Quantity</th>
        </tr>

    </thead>
    <tbody>
        {% for key, item in stock_location.items() %}
        <tr>
            <td class="counter-cell" scope="row"></td>
            <td><a href='/container_info/{{item["container_id"]}}'>{{ item["container_name"] }}</a></td>
            <td>{{ item["furniture_name"] }}</td>
            <td>{{ item["room_name"] }}</td>
            <td>{{ item["house_name"] }}</td>
            <td>{{ item["quantity"] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<ul>
    <li>
        <a href='/edit_stock/{{stock_info[0]["stock_id"]}}' class="btn btn-outline-primary">Edit stock</a>
    </li>
    <li>
        <a href='/add_existing_stock/{{stock_info[0]["stock_id"]}}' class="btn btn-outline-primary">Add more of this
            item</a>
    </li>

</ul>

{% endif %}
<div>
    <p>Back to <a href='/view_stock'>stock register</a></p>
</div>
{% endblock %}