{% extends 'layout.html' %}
{% block title %}Testing{% endblock %}
{% block body%}
<form>
    <select id="home">
        <option></option>
    </select>
    <select id="room"></select>
    <select id="furniture"></select>
    <button type="submit">Submit</button>
</form>
<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
<script>
    "use strict";

    var systems = {{ homesandrooms|tojson }};

    var form = $('form');
    var home = $('select#home');
    var room = $('select#room');
    var furniture = $('select#furniture');

    for (var key in systems) {
        home.append($('<option/>', {'value': key, 'text': key}));
    }

    home.change(function(ev) {
        room.empty();
        room.append($('<option/>'));

        var rooms = systems[home.val()];

        for (var i in rooms) {
            room.append($('<option/>', {'value': rooms[i], 'text': rooms[i]}));
        }
    }
    );

    room.change(function(ev){
        furniture.empty();
        furniture.append($('<option/>'));

        var furnitures=systems[home.val()][room.val()];

        for (var i in furnitures){
            furniture.append($('<option/>',{'value':furnitures[i], 'text': rooms[i]}))
        }
    });

    form.submit(function(ev) {
        ev.preventDefault();
        alert("playing " + room.val() + " on " + home.val());
    });
</script>
{% endblock %} 