{% extends 'layout.html' %}
{% block title %}View Stock{% endblock %}

{% block content %}
<div id='searchbar'>
    <input class="form-control me-2" autocomplete='off' autofocus placeholder='Enter to search stock or container'
        aria-label="Search" type='text'>

</div>
<div id='search-results'>
    <ul class='list-group'></ul>
</div>
<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Stock name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Container</th>
                <th scope="col">Location</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks%}
            <tr>
                <th scope="row"><a href='/stock_info/{{stocks[stock]["stock_id"]}}'>{{stocks[stock]["stock_name"]}}</a>
                </th>
                <td>{{stocks[stock]["quantity"]}}</td>
                <td>{{stocks[stock]["container_name"]}}</td>
                <td>{{stocks[stock]["house_name"]}}->{{stocks[stock]["room_name"]}}->{{stocks[stock]["furniture_name"]}}
                </td>
            </tr>
            {% endfor%}
        </tbody>
    </table>
</div>


<div>
    <p>Back to <a href=' /dashboard'>dashboard</a></p>
</div>

<script>
    let input = document.querySelector('input');
    let searchResults = document.querySelector('#search-results ul');
    input.addEventListener('input', async function () {
        let response = await fetch('/search?q=' + input.value);
        let search_result = await response.json();
        let html = '';
        for (let s in search_result) {
            let stock_id = search_result[s].stock_id;
            let stock_name = search_result[s].stock_name.replace('<', '&lt;').replace('&', '&amp;');
            html += `<li class="list-group-item"><a href="/stock_info/${stock_id}" class="list-group-item list-group-item-action">${stock_name}</a></li>`;
        }
        searchResults.innerHTML = html;
    });
</script>
{% endblock %}